extends layout

block content
  main
    h1.f3.f-headline-ns= title
    p.f5.b Click a league. Get the most recent results.
    ul.list.pl0.measure.center
      each league in leagues
        li.lh-copy.pv3.ba.bl-0.br-0.bt-0.b--dotted.b--black-40
          a(href='/leagues/' + league.id + '/' + league.currentMatchday).link.b.f3=league.caption
