doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
