extends layout

mixin resultsTable(table)
  .pa4-ns
    .overflow-auto
      table(class='f4 w-100 mw8 center' cellspacing='0')
        thead
          tr
            th.fw6.bb.b--black-20.tl.pb3.pr3.bg-white Home Team
            th.fw6.bb.b--black-20.tc.pb3.pr3.bg-white Result
            th.fw6.bb.b--black-20.tr.pb3.pr3.bg-white Away Team
        tbody.lh-copy
          each item in table
            tr
              td.pv3.pr3.bb.b--black-20.tc.f5.f4-ns=item.homeTeamName
              td.pv3.pr3.bb.b--black-20.tc.f5.f4-ns #{item.result.goalsHomeTeam} - #{item.result.goalsAwayTeam}
              td.pv3.pr3.bb.b--black-20.tc.f5.f4-ns=item.awayTeamName


block content
  main
    h1 Results: 
    - var rec = (data.MostRecent)
    - var cur = (data.Current)
    h2 Current Matchday Results:
    +resultsTable(cur)
    h2 Previous Matchday Results:
    +resultsTable(rec)
